h1 {
    font-size: 20px;
}

body {
    max-width: 100%;
    font-family: sans-serif;
    font-size: 1 em;
}

pre {
    display: block;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.images {
    max-height: 450px;
    max-width: 1200px;
    overflow: auto;
}

.images img {
    width: auto;
    max-height: 400px;
}