body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 14px;
}

h2 {
    font-size: 14px;
}

h3 {
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
}

div.team>p {
    margin: 0 0 0 25px;
    padding: 0;
}