body,
div,
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 0 10px 0;
    border: 1px solid black;
    background-color: yellow;
    margin: 10px 0 0 10px;
    width: 30%;
    text-align: center;
    border-radius: 8px;
}

div.table {
    margin-left: 10px;
}

div.table>div.row:nth-of-type(2n)>p {
    background-color: lightgrey;
}

div>p {
    float: left;
    width: 18%;
    padding: 5px;
}

div>p:first-of-type {
    width: 30%;
}

div.header>p {
    font-weight: bold;
    border: 1px solid green;
    border-bottom: 3px solid black;
    border-right: 0;
}

div.header>p:last-of-type {
    border-right: 1px solid green;
}

div.row>p,
div.res>p {
    border: 1px solid black;
    border-right: 0;
    border-top: 0;
}

div.res>p {
    background-color: mediumspringgreen;
}

div.row>p:last-of-type,
div.res>p:last-of-type {
    border-right: 1px solid black;
}

#filter {
    margin-left: 20px;
}

#filter,
#filter>div,
#filter>select {
    display: inline-block;
}

#filter>div>select {
    height: 39px;
    width: 120px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1em;
}

#filter input {
    height: 39px;
    width: 80px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: mediumspringgreen;
    font-size: 1em;
}