body,
div,
a,
p,
h1 {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
    display: inline-block;
    color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 0 8px 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a5c9b3+0,539b5c+47,539b5c+47,3d8e3b+49,a8dbb3+100 */
    background: #a5c9b3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a5c9b3 0%, #539b5c 47%, #539b5c 47%, #3d8e3b 49%, #a8dbb3 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a5c9b3 0%, #539b5c 47%, #539b5c 47%, #3d8e3b 49%, #a8dbb3 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a5c9b3 0%, #539b5c 47%, #539b5c 47%, #3d8e3b 49%, #a8dbb3 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a5c9b3', endColorstr='#a8dbb3', GradientType=0);
    /* IE6-9 */
}

.foot {
    display: inline-block;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 3px 0 3px 20px;
    font-size: 0.9em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a5c9b3+0,3b9946+0,a8dbb3+100 */
    background: #a5c9b3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a5c9b3 0%, #3d8e3b 100%, #a8dbb3 0%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a5c9b3 0%, #3d8e3b 100%, #a8dbb3 0%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a5c9b3 0%, #3d8e3b 100%, #a8dbb3 0%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3d8e3b', endColorstr='#a8dbb3', GradientType=0);
    /* IE6-9 */
}

.error,
.correct {
    margin: 10px 0 0 20px;
    font-size: 1.2em;
}

.error {
    color: red;
}

.correct {
    color: limegreen;
}

.greeting {
    font-size: 1.5em;
    font-weight: bold;
    color: seagreen;
    padding: 0 0 10px 20px;
}

.textin {
    margin: 0 0 10px 20px;
    font-size: 1.2em;
    color: darkgreen;
}

.textin>input {
    width: 160px;
    height: 25px;
    position: absolute;
    left: 135px;
    padding-left: 5px;
    border: 1px solid seagreen;
    border-radius: 3px;
    background-color: #a8dbb3;
    font-size: 1em;
}

form div:last-of-type {
    display: inline-block;
    position: absolute;
    top: 97px;
    left: 310px;
}

form div:last-of-type>input {
    width: 95px;
    height: 65px;
    left: 135px;
    color: white;
    text-align: center;
    font-weight: bold;
    border: 3px outset #a8dbb3;
    border-radius: 3px;
    background-color: #3d8e3b;
    font-size: 1.2em;
}

form div:last-of-type>input:focus {
    border-style: inset;
    outline: none;
    padding: 0 2px 2px 0;
}

.notes {
    margin: 0 0 0 20px;
    font-size: 1em;
    color: darkgreen;
}

.notes a {
    font-weight: bold;
    text-decoration: none;
    color: darkgreen;
    padding-left: 5px;
}

.notestwo a {
    padding-left: 20px;
}